.iwt-admin {

    position: relative;
    top: 70px;
    height: calc( 100% - 70px);
    grid-area: admin;
    border-radius: 0 16px 16px 0;
    border-right: 1px solid var(--color-border-admin);
    border-top: 1px solid var(--color-border-admin);
    border-bottom: 1px solid var(--color-border-admin);
    background: var(--color-background-admin);
    overflow-y: auto;
}

/*
    HACK-001: Añade a .iwt-admin la clase "hotpoints-editor-opened" si se abre
    la pestaña 4 (data-target="tab-4") y se elimina si se abre cualquier otra pestaña.
    JS: public\js\app.js
*/
.iwt-admin.hotpoints-editor-opened {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.iwt-admin .table {

    border: var(--color-table-border);
    border-spacing: 0 16px;
    border-collapse: inherit;
}

.iwt-admin .table th {

    background: var(--color-table-header-background);
    color: var(--color-font);
    padding: 16px;
    font-family: var(--font-primary);
    white-space: nowrap;
}

.iwt-admin .table tr th {

    text-transform: uppercase;
}

.iwt-admin .table th a {

    text-decoration: underline;
    text-underline-offset: 4px;
    font-family: var(--font-primary);
}

.iwt-admin .table td a {

    color: var(--color-button-default-text);
}

.iwt-admin .table th a:hover, .iwt-admin .table td a:hover {

    color: var(--color-button-default-hover-text);
}

.iwt-admin .table th:first-child, .iwt-admin .table td:first-child {

    text-align: center;
}

.iwt-admin .table th:first-child, .iwt-admin .table td:first-child {

    border-radius: 8px 0 0 8px;
}

.fa-solid.fa-sort-up, .fa-solid.fa-sort-down {

    position: relative;
}

.fa-solid.fa-sort-up:before, .fa-solid.fa-sort-down:before {

    position: absolute;
    top: -8px;
    transition: none;
}

.fa-solid.fa-sort-down:before {

    top: -16px;
}

.iwt-admin .table th:last-child {

    border-radius: 0 8px 8px 0;
}

.iwt-admin .table .listado {

    background: var(--color-table-cell-background);
    color: var(--color-button-default-text);
    padding: 16px 16px;
    vertical-align: middle;
}

.iwt-admin .table .listado span, .iwt-admin .table .listado span a {

    /* white-space: nowrap; */
    /* font-family: var(--font-secondary); */
    font-family: var(--font-primary);
}

.iwt-admin .table .listado.acciones {

    background: var(--palette-nile-blue);
    padding: 0;
}

.iwt-admin .table .listado.acciones form {

    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.btn:hover {

    color: var(--color-button-default-hover-text);
    scale: 0.96;
    -webkit-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.2);
}

.btn {

    max-height: 56px;
    background: var(--color-button-default-background);
    border: transparent;
    border-radius: 8px;
    padding: 16px;
    white-space: nowrap;
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--color-button-default-text);
    transition: all .3s ease;
}

.btn.style-1 {

    background-color: var(--color-buton-disabled-background);
}

.btn.style-0:hover, .btn.style-1:hover {

    color: inherit;
}

.btn.style-0:hover span, .btn.style-1:hover span {

    color: var(--color-button-default-hover-text);
}


.btn.style-0 span, .btn.style-1 span {

    color: var(--color-font);
    border-radius: 8px;
    margin-left: 8px;
    padding: 10px;
}

.btn.style-1 span, .btn._enabled {

    background-color: var(--color-buton-enabled-background);
}

.btn.style-0 {

    background-color: var(--color-buton-enabled-background);
}

.btn.style-0 span, .btn._disabled {

    background-color: var(--color-buton-disabled-background);
}

.btn.btn-danger {

    background: var(--color-button-danger-background);
}

.btn.btn-warning{

    background: var(--color-button-warning-background);
}

.btn.btn-success {

    background: var(--color-button-success-background);
    text-transform: uppercase;
}

input[type="file"] {

    width: 100%;
    border-radius:  8px;
    color: var(--color-font);
    background: var(--color-input-select-background);
}

input[type="file"]::file-selector-button {

    width: auto;
    height: 54px;
    border: none;
    border-radius: 8px;
    margin-left: -8px;
    padding: 0 16px;
    background: var(--color-button-default-background);
    color: color: var(--color-font);
    white-space: nowrap;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

/* input[type="file"]::file-selector-button:hover {
    background: green;
    scale: .97;
} */

input, select {

    border: 2px solid var(--color-input-select-border);
    border-radius: 8px;
    padding: 16px;
    background: var(--color-input-select-background);
    color: var(--color-font);
}

select option {

    background: var(--color-input-select-background);
    color: var(--color-font);
}

select option:checked {

    background-color: var(--color-select-option-checked);
}

input::placeholder {

    color: var(--color-input-placeholder);
}

.related-container {

    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.related-container-panel {

    height: 100%;
    border: 1px solid var(--color-border-admin);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.related-container-panel .content-button {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.related-container-panel .content-button .text-button {

    margin-right: 16px;
    /* white-space: nowrap; */
}

.related-container-panel .content-button .grupo-botones {

    display: flex;
    gap: 0 4px;
}

.form-group {

    position: relative;
}

.form-group strong {

    position: relative;
    left: 3px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.ficha .form-group button {

    height: 56px;
    margin: 0;
}

/* Header Edit User */

.iwt-user-form div {

    padding-bottom: 8px;
}

/* Table users */

.iwt-users.table th:last-child,
.iwt-territories.table th:last-child,
.iwt-brands.table th:last-child,
.iwt-products.table th:last-child,
.iwt-tags.table th:last-child {

    width: 167px;
}

.iwt-brands.table th:nth-child(3), .iwt-tags.table th:nth-child(3) {

    width: 116px;
    text-align: center;
}

.iwt-projects.table th:last-child {

    width: 340px;
}

.iwt-products.table th:nth-child(3) {

    width: 115px;
    text-align: center;
}

.iwt-products.table th:nth-child(4) {

    width: 150px;
}

.iwt-products.table td:nth-child(4) {

    text-align: center;
}


/* Image Upload */
.iwt-image-field {

    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.iwt-image-field .form-group {

    margin-top: 16px;
    margin: 16px auto 0 auto;
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 16px;
}

.iwt-image-field img {

   border-radius: 8px;
   width: 250px;
   min-width: 250px;
   margin: 0 auto;
   aspect-ratio: 1 / 1;
}

.iwt-image-field .form-group button, .iwt-image-field .form-group input {

    width: 250px;
    min-width: 250px;
    max-width: 500px;
 }

 #iwtModalOverlay {
    position: fixed;
    display: none;
    inset: 0;
    background: black;
    opacity: 0.6
 }

  #iwtModalOverlay.show {
    display: block;
 }

 .iwi-rotated {
  transform: rotate(180deg);
  display: inline-block; /* necesario si el texto es inline */
}