.iwt-footer {

    width: 100%;
    height: 70px;
    max-width: 1920px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 30px;
}

.iwt-footer .support {

    text-decoration: underline;
}
